<template>
  <v-row>
    <!-- HEADER ---------------------------------------------------------------------------------->
    <v-col
      class="pa-0 v-app-bar v-toolbar v-sheet"
      :class="$vuetify.theme.dark ? 'theme--dark' : 'theme--light'"
    >
      <v-container>
        <v-row>
          <!-- CODE - Currency ------------------------------------------------------------------->
          <v-col cols="10" class="pr-0 pb-0 grey--text text-body-2">{{
            `${input.base} - ${data.symbols[input.base]}`
          }}</v-col>
          <!-- CODE - Currency ------------------------------------------------------------------->
          <!-- CONFIG ---------------------------------------------------------------------------->
          <v-col class="pb-0 pl-0 text-right" cols="2">
            <v-dialog
              v-model="state.dialog.config"
              persistent
              max-width="360px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" x-small icon>
                  <v-icon small>mdi-cog</v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <v-row>
                    <v-col cols="10" class="text-h5">Configuration</v-col>
                    <v-col cols="2" class="text-right">
                      <v-btn
                        @click="$vuetify.theme.dark = !$vuetify.theme.dark"
                        icon
                        small
                      >
                        <v-icon small>mdi-theme-light-dark</v-icon>
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-card-title>
                <v-card-text>
                  <v-row>
                    <v-col cols="12" class="pb-0"
                      >Rates Source:
                      <a
                        href="https://exchangeratesapi.io/documentation/"
                        target="”_blank”"
                        >exchangeratesapi.io</a
                      ></v-col
                    >
                    <v-col cols="12">
                      <v-row align="center">
                        <v-col cols="8" class="pt-0 pr-0">
                          {{ getSyncStatus() }}
                        </v-col>
                        <v-col cols="4" class="pt-0 pl-0 text-right">
                          <v-btn
                            @click="updateData"
                            :loading="state.loading"
                            text
                            v-if="getSyncStatus() != 'Up to date'"
                            x-small
                            >Sync Now</v-btn
                          >
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-autocomplete
                        label="Base Currency"
                        v-model="input.currency"
                        :items="selectBaseCurrency.selects"
                      >
                      </v-autocomplete>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeConfig">
                    Close
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="saveConfig">
                    Save
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-col>
          <!-- CONFIG ---------------------------------------------------------------------------->
        </v-row>
        <v-row align="center">
          <!-- CODE ------------------------------------------------------------------------------>
          <v-col cols="6" md="8" lg="9">{{ input.base }}</v-col>
          <!-- CODE ------------------------------------------------------------------------------>
          <!-- INPUT ----------------------------------------------------------------------------->
          <v-col cols="6" md="4" lg="3" class="py-0 text-right">
            <div @click="focusInput" v-if="!state.input">
              {{ input.number && input.number.toFixed(4) }}
            </div>
            <v-text-field
              @blur="blurInput"
              ref="inputNumber"
              hide-details
              v-if="state.input"
              v-model.number="input.number"
              type="number"
            />
          </v-col>
          <!-- INPUT ----------------------------------------------------------------------------->
        </v-row>
      </v-container>
    </v-col>
    <!-- HEADER ---------------------------------------------------------------------------------->
    <!-- CONTENT --------------------------------------------------------------------------------->
    <v-container class="mt-16">
      <v-row class="mt-2">
        <!-- CONVERSION CARD --------------------------------------------------------------------->
        <v-col
          v-for="(active, index) in data.actives"
          :key="active.code"
          cols="12"
          sm="6"
          md="4"
          lg="3"
        >
          <v-card>
            <v-card-title>
              <v-row>
                <v-col cols="4">{{ active.code }}</v-col>
                <v-col cols="8" class="text-right">{{
                  input.number &&
                  (
                    (input.number * active.rate) /
                    data.rates[input.base]
                  ).toFixed(4)
                }}</v-col>
              </v-row>
            </v-card-title>
            <v-card-text>
              <v-row>
                <v-col class="pb-0 d-block text-truncate" cols="12">{{
                  `${active.code} - ${active.name}`
                }}</v-col>
                <v-col cols="10" class="pt-0">{{
                  `1 ${input.base} = ${(
                    active.rate / data.rates[input.base]
                  ).toFixed(4)} ${active.code}`
                }}</v-col>
                <v-col cols="2" class="pt-0 text-right">
                  <v-btn @click="deleteActive(index)" icon small>
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- CONVERSION CARD --------------------------------------------------------------------->
        <!-- ADD CURRENCY ------------------------------------------------------------------------>
        <v-col cols="12" sm="6" md="4" lg="3">
          <v-dialog v-model="state.dialog.add" persistent max-width="360px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                v-on="on"
                block
                class="d-flex align-center justify-center text-h4 grey--text"
                height="130"
              >
                +
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Add Currency</span>
              </v-card-title>
              <v-card-text>
                <v-autocomplete
                  label="Currency"
                  v-model="input.add"
                  :items="selectAddCurrency.selects"
                >
                </v-autocomplete>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeAdd">
                  Close
                </v-btn>
                <v-btn color="blue darken-1" text @click="saveAdd"> Add </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-col>
        <!-- ADD CURRENCY ------------------------------------------------------------------------>
      </v-row>
    </v-container>
    <!-- CONTENT --------------------------------------------------------------------------------->
  </v-row>
</template>

<script>
import { mapActions } from "vuex";
import Actives from "~/static/actives";
import Rates from "~/static/rates";
import Symbols from "~/static/symbols";

export default {
  data() {
    return {
      data: {
        actives: Actives,
        base: "EUR",
        rates: Rates,
        symbols: Symbols,
        success: true,
        timestamp: 1628675163,
        date: "2021-08-11",
      },
      input: {
        add: null,
        base: "EUR",
        currency: "EUR - Euro",
        number: 10,
      },
      state: {
        dialog: {
          add: false,
          config: false,
        },
        input: false,
        loading: false,
      },
    };
  },

  computed: {
    selectAddCurrency() {
      let codes = [];
      let selects = [];
      let symbols = JSON.parse(JSON.stringify(this.data.symbols));
      this.data.actives.forEach((active) => {
        delete symbols[active.code];
      });
      for (const key in symbols) {
        codes.push(key);
        selects.push(`${key} - ${symbols[key]}`);
      }
      return {
        codes: codes,
        selects: selects,
      };
    },

    selectBaseCurrency() {
      let codes = [];
      let selects = [];
      let symbols = this.data.symbols;
      for (const key in symbols) {
        codes.push(`${key}`);
        selects.push(`${key} - ${symbols[key]}`);
      }
      return {
        codes: codes,
        selects: selects,
      };
    },
  },

  mounted() {
    this.updateData();
  },

  methods: {
    blurInput() {
      this.state.input = false;
    },

    closeAdd() {
      this.state.dialog.add = false;
      this.input.add = null;
    },

    closeConfig() {
      this.state.dialog.config = false;
      this.input.config = null;
    },

    deleteActive(index) {
      this.data.actives.splice(index, 1);
    },

    focusInput() {
      this.state.input = true;
      this.$nextTick(() => {
        this.$refs.inputNumber.focus();
      });
    },

    getSyncStatus() {
      if (
        this.$moment().diff(this.$moment(this.data.timestamp * 1000)) < 60000
      ) {
        return "Up to date";
      } else {
        return `Last sync: ${this.$moment(
          this.data.timestamp * 1000
        ).fromNow()}`;
      }
    },

    saveAdd() {
      this.data.actives.push({
        code: this.selectAddCurrency.codes[
          this.selectAddCurrency.selects.indexOf(this.input.add)
        ],
        name: this.data.symbols[
          this.selectAddCurrency.codes[
            this.selectAddCurrency.selects.indexOf(this.input.add)
          ]
        ],
        rate: this.data.rates[
          this.selectAddCurrency.codes[
            this.selectAddCurrency.selects.indexOf(this.input.add)
          ]
        ],
      });
      this.closeAdd();
    },

    saveConfig() {
      this.input.base =
        this.selectBaseCurrency.codes[
          this.selectBaseCurrency.selects.indexOf(this.input.currency)
        ];
      this.closeConfig();
    },

    updateActives() {
      this.data.actives.forEach((active) => {
        active.rate = this.data.rates[active.code];
      });
    },

    async updateData() {
      this.state.loading = true;
      this.$axios
        .$get(
          "http://api.exchangeratesapi.io/v1/latest?access_key=350fad8051e823378e0567a18cd296db"
        )
        .then((latest) => {
          Object.assign(this.data, latest);
          this.$axios
            .$get(
              "http://api.exchangeratesapi.io/v1/symbols?access_key=350fad8051e823378e0567a18cd296db"
            )
            .then((symbols) => {
              Object.assign(this.data, symbols);
              this.updateActives();
              this.data.timestamp = this.$moment().unix();
              this.state.loading = false;
            });
        });
    },
  },
};
</script>

<style>
.text-right input {
  text-align: right;
}

.v-app-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.v-app-bar .v-text-field > .v-input__control > .v-input__slot:before {
  border: none;
}
</style>
